<p id="notice"><%= notice %></p>

<h1>Teams Farol</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Equipe</th>
      <th>Unidade</th>
      <th>Participantes</th>
      <th>Pontos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.farol.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.gym.name %></td>
        <td><%= team.competitors.count %></td>
        <td><%= team.team_points %></td>
        
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<h1>Teams Praia</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Equipe</th>
      <th>Unidade</th>
      <th>Participantes</th>
      <th>Pontos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.praia.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.gym.name %></td>
        <td><%= team.competitors.count %></td>
        <td><%= team.team_points %></td>
        
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
