<p id="notice"><%= notice %></p>
<div class="col-md-12">
  <h1>Equipe <%= @team.name %></h1>
</div>
<div class="col-lg-5">
  
  <div class="panel panel-default">
    <div class="panel-heading">
        Resumo da equipe
    </div>
    <div class="panel-body">
    <p><span class="dot-bigger <%= @team.name.downcase %>"></span></p>
        <p>
          <strong>Equipe:</strong>
          <%= @team.name %>
        </p>
        <p>
          <strong>Treinador:</strong>
          <%= @team.coach %>
        </p>

        <p>
          <strong>Unidade:</strong>
          <%= @team.gym.name %>
        </p>

        <p>
          <strong>Integrantes:</strong>
          <%= @team_qtty %>
        </p>

        <p>
          <strong>Pontos da Equipe:</strong>
          <%= @team.team_points %>
        </p>
        <%= link_to 'Editar', edit_team_path(@team), class: "btn btn-outline btn-warning" %>
      </div>

  </div>

    <div class="panel panel-default">
      <div class="panel-heading">
          Registro de participaçao em atividades
      </div>
      <div class="panel-body">
        <%= render "checkins/form", :checkin => Checkin.new, :@team => @team.competitors.all %>
      </div>
    </div>

</div>

<div class="col-lg-7">
  
    <div class="panel panel-default">
        <div class="panel-heading">
            Integrantes
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Atividades</th>
                <th>Total de Pontos</th>
                

                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @competitors.each do |competitor| %>
                <tr>
                  <td><%= competitor.name %></td>
                  <td><%= competitor.checkins_count %></td>
                  <td><%= competitor.competitor_points %></td>
                  
                  <td style="width:5%"><%= link_to 'Mostrar', competitor, class: "btn btn-outline btn-primary" %></td>
                  <td style="width:5%"><%= link_to 'Editar', edit_competitor_path(competitor), class: "btn btn-outline btn-warning" %></td>
                  <td style="width:5%"><%= link_to 'Apagar', competitor, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn btn-outline btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
  
</div>


<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
        Atividades
    </div>
    <div class="panel-body">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Competidor</th>
          <th>Atividade</th>
          <th>Data</th>
          <th>Pontos da atividade</th>
        </tr>
      </thead>
      <tbody>
        <% @competitors.each do |c| %>
          <% c.checkins.order(date: :desc).each do |ch| %>
            <tr>
              <td><%= ch.competitor.name %></td>
              <td><%= ch.activity.name %></td>
              <td><%= ch.date.strftime("%d/%m/%Y") %></td>
              <td><%= ch.activity.points %></td>
              <td style="width:5%"><%= link_to 'Editar', edit_checkin_path(ch), class: "btn btn-outline btn-warning" %></td>
              <td style="width:5%"><%= link_to 'Apagar', ch, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline btn-danger" %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="col-md-12">
  <%= link_to 'Voltar', teams_path, class: "btn btn-outline btn-default" %>
</div>