<%= form_with(model: competitor, local: true) do |form| %>
  <% if competitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competitor.errors.count, "error") %> prohibited this competitor from being saved:</h2>

      <ul>
      <% competitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :competitor_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :competitor_email %>
  </div>

  <div class="field form-group">
    <%= form.label :team_id %>
    <%= collection_select(:competitor, :team_id, @team_options, :id, :team_gym )%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
