<%= form_with(model: checkin, local: true) do |form| %>
  <% if checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% checkin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
      <div class="field form-group">
        <%= form.label :competitor_id, "Competidor" %>
        <% if @team %>
          <%= collection_select(:checkin, :competitor_id, @team, :id, :name, class: "form-control" )%>
        <% else %>
          <%= collection_select(:checkin, :competitor_id, checkin.competitor.team.competitors, :id, :name, class: "form-control" )%>
        <% end %>
      </div>

      <div class="field form-group">
        <%= form.label :date, "Data" %>
        <%= form.date_select :date, id: :checkin_date, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :activity_id, "Atividade" %>
        <%= collection_select(:checkin, :activity_id, @activity_options, :id, :name, class: "form-control" )%>
      </div>

      

      <div class="actions form-group">
        <%= form.submit 'Salvar', :class => 'btn btn-outline btn-success'%>
      </div>

<% end %>
